body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eeeeee;
    color: #333;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    text-align: center;
    color: #3e3029;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: #4e4a49;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-details {
    border-top: 2px solid #B17457;
    padding-top: 20px;
}
