
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    color: #d8bfa8;
    
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;; 
    padding: 10px 10px; 
    z-index: 1000; 
    text-align: center; 
    background-color: #fffbf5;
}
.gany-enterprise {
    font-size: 1em; 
    color: #ede8e7; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px; 
    background: linear-gradient(90deg, #464342, #8d634c); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.fixed-header h1 {
    margin: 0; 
    font-size: 2em; 
    color: #0e0e0e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    font-size: 2.5rem;
    color: #4e4a49;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    background-color: #fffbf5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2rem;
    color: #3e3029;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 2px solid #B17457;
}

section {
    padding: 50px 0;
    background-color: #fffcf8;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    color: #4e4a49; 
}

.card-text {
    font-size: 1rem;
    color: #454342; 
}


@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }
}

html {
    scroll-behavior: smooth;
  }


@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX();
    }
    
}

.card{animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;}

    #spage1 {
        margin-top: 150px; 
    }
    
    #spage2 {
        margin-top: -150px; 
    }

  
